body, html {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include roboto();
}


* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button[type="button"] {
  cursor: pointer;
}

.text-block {
  p {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
 

.wrapper {
  overflow: hidden;
  // min-height: 100%;
  position: relative;
  max-width: 1800px;
 
}

 
.container {
  min-height: 750px;
  width: 100vw;
}

.section {
  width:100vw;
  // height: 43.75rem;
  height: 100%;
}


.welcome-container {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../images/bg/photo-1454111079122-eb76eb2d5754.png );
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 14%;
  margin: auto;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
   background-size: 100%; /* Современные браузеры */

}

.footer {
  height: 125px;  
  display: flex;
  position: relative;
  width: 100%; 
  color: #ffffff;
  background: #53595c;
  opacity: .9;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


