body, html {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include roboto();
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.section {
  min-height: 650px;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button[type="button"] {
  cursor: pointer;
}

.text-block {
  p {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

// .wrapper {
//   width: 100%;
//   min-height: 100%;
//   position: relative;
// }

.container {
  width: 75rem;
  height: 43.75rem;
}


.welcome-container {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../images/bg/photo-1454111079122-eb76eb2d5754.png );
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 14%;
  margin: auto;

}