.about {
    width: 75rem;
    height: 93%;
    display: flex;
}

.about__left {
     display: flex;
     box-sizing: border-box;
}

.about__left-desc {
    position: absolute;
}

.about__triangle-left {
    width: 92%;
    height: 955px;
    position: relative;
    top: -30.5%;
    right: 6%;
   
}

.about__left-desc {
    display: flex;
    width: 900px;
}

.about__left-title {
    
    font-size: 63px;
    width: 357px;
    height: 125px;
}

.block__title {
    position: absolute;
    top: -3%;
    left: 9%;
    font-family: "SansusWebissimo";
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #373e42;
}

.about__left-bg {
    height: 150px;
    width: 350px;
    position: absolute;
    top: -13%;
    left: 3%;
}

.block-subtitle {
    font-family: "SansusWebissimo";
    font-size: 35px;
}

.user-description__text {
    font-family: "Roboto-Regular";
}

.user-description__para {
    width: 425px;
}