
.about__right {
    display: flex;
    width: 50%;
}

.about__right-desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.about__triangle-right {
    flex: 1;
    width: 50%;
    min-height: 100%;
    position: relative;
    top: -30.2%;
}

.block__subtitle {
    font-family: "SansusWebissimo";
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    width: 350px;
    align-items: baseline;
    text-align: center;
    margin-bottom: 3%;
    margin-left: 15%
}

.about__right-description.text-content {
    width: 100%;
    height: 50px;
}

.skills-list__item {
    font-size: 1.75rem;
margin-bottom: 2%;
font-weight: 500;
width: 100%;
line-height: 1.14
}
