
.authorise-social {
    display: flex;

    &.welcome{
        height: 95px;
        justify-content: center;

        .authorise-social__list {
            margin: 0;
            align-items: center;
        }
    }

}

.authorise-social__list {
    list-style-type: none;
    display: inline-flex;
    margin-left: 40px;
    margin-right: 120px;
    margin-bottom: 40px;

}

.authorise-social__link svg
     {
        fill: rgba(255, 255, 255, .5);
        &:hover {
            fill: #4e8839;
        }
    }


.authorise-social__item {
    margin: 25px;
    
}

