
.authorise {
    width: 23.75rem;
    height: 24.75rem;
    color: #ffffff;
    position: absolute;
    display: initial;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(18, 38, 32, 0.6);
    
 
}

.img {
    background: #f0efe9;
    width: 45px;
    height: 45px;
    display: inline-grid;
    border-radius:2.9375rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.img-icon {
   margin: 14px;
}

.authorise-img {
    width: 146px;
    height: 146px;
    margin-left: 118px;
    margin-top: 40px;
    border-radius: 72px;
    display: flex;
   
}

.authorise-descripton {
    font-family: "Roboto-Regular";
    color: #ffffff;
    height: 52px;
    width: 100%;
    text-align: center;
   
    margin-top: 20px;
    display: flex;
}

.authorise-descripton__list {
    display: list-item;
    list-style-type: none;
    width: 100%;
}

.authorise-desciption__name {
    font-size: 28px;    
    font-family: "Roboto-Regular";
    }

    .authorise-desciption__site {
        font-size: 16px;
        opacity: .8;
    }

.rectangle {
    width: 90px;
    height: 3px;
    background: #ffffff;
    margin-left: 140px;
    margin-bottom: 25px;
}
