
.authorise {
    width: 23.75rem;
    height: 26.6875rem;
    color: #ffffff;
    position: absolute;
    display: initial;
    left: 34%;
    top: 21%;
    background: #203823;
    opacity: .8;
 
}

.img {
    background: #f0efe9;
    width: 45px;
    height: 45px;
    display: inline-grid;
    border-radius:2.9375rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.img-icon {
   margin: 14px;
}

.authorise-img {
    width: 146px;
    height: 146px;
    margin-left: 118px;
    margin-top: 40px;
}

.authorise-descripton {
    font-family: "Roboto-Regular";
    color: #ffffff;
    height: 52px;
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
}

.authorise-descripton__list {
    display: list-item;
    list-style-type: none;
}

.authorise-desciption__name {
    font-size: 28px;    
    font-family: "Roboto-Regular";
    }

    .authorise-desciption__site {
        font-size: 16px;
    }

.rectangle {
    width: 90px;
    height: 3px;
    background: #ffffff;
    margin-left: 140px;
    margin-bottom: 25px;
}
