.full-screen__list {
    display: none;
  }
  .active.full-screen__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #709c5d;
    opacity: .9;
    padding: 145px;
    }

    .full-screen__item {
      font-family: "SansusWebissimo";
      font-size: 36px;
      font-weight: bold;
      color: #ffffff;
      align-items: center;
      display: flex;
      flex-direction: column;
      right: 41%;
      top: 17%;
      padding: 30px;

    }

  
  
  .menu__hamburger{
    display: flex;
    flex-direction: column;
    position: relative;
    right: -509px;
    bottom: -14px;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
     
  }
  
  .menu__hamburger__line{
    width: 1.5rem;
    height: 0.3125rem;
    background: #ffffff;
    display: inline-block;
    border-radius: 0.125rem;
    margin: 0.25rem 0 0 1.5625rem; 
   
  }
  
  
  .menu__hamburger_active .menu__hamburger__line:nth-child(2n+0){
    opacity:0;
  }
  .menu__hamburger_active .menu__hamburger__line:nth-child(1n+0){
            transform: rotate(45deg) translateY(12px);
  }
  .menu__hamburger_active .menu__hamburger__line:nth-child(3n+0){
        transform: rotate(-45deg) translateY(-12px);
  }
  
  .hamburger-list-active{
    display: none;
  
  }