.hero {
    color: #efeee9;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    position: absolute;
    height: 225px;
    width: 320px;

}

.hero__desc {
    display: grid;
    font-family: "Roboto-Regular";
    text-align: center;
}

.hero-name {
    font-size: 36px;
}

.hero-image {   
    width: 146px;
    height: 146px;
    border-radius: 72px;
    margin-top: 5px; 
    left: 50%;
    position: relative;
    transform: translateX(-50%);
} 

.arrow-down.hero__scroll-button {
    position: absolute; 
    left: 50%;
    top: 85%; 
    transform: translateX(-50%);
  
}

.arrow-down.hero__scroll-button svg {
    fill: rgba(255, 255, 255, 0.7);
}