.works__content {
    display: flex;
}

.works__left {
  
    width: 50%;
    background-color: #ebefe2;
    
}

.works-slider__content {
    margin: 300px 230px;
    display: grid;
}


 .works-slider__item-about{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.subtitle {
    font-family: "SansusWebissimo";
    font-size: 35px;   
    margin-bottom: 25px; 
    text-align: center;
}

.left-side__rectangle {
    margin-left: 100px;
    margin-right: auto;
  
}

.works__content-desc {
    font-family: "Roboto-Medium"; 
    color: #4e8839;
    margin: 25px auto;
}

.left-side__btn {
    height: 48px;
    width: 200px;
    margin: 25px auto;
    border: 1px solid black;
    border-radius: 25px;
    background: #6c9c5a;
    color: #ffffff;
}

.left-side__btn-icon {
    margin-right: 15px;
}

.left-side__btn-link {
    text-decoration: none;
    color: #ffffff;
}
