$white: #efeee9;
$beige: #eeebdf;
$green: #16c2aa;
$text-color: #455a64;
$grey: #373e42;
$light-grey: #dfdcd5;

@import 'normalize.css'; 
@import './layout/fonts.scss';
@import './layout/base.scss';

@import './icons/_sass-inline-svg.scss';
@import './icons/_sass-inline-svg-data.scss';  

@import './blocks/button.scss';
@import './blocks/block';
@import './blocks/authorise.scss';  
@import './blocks/authorise-social.scss';
@import './blocks/form.scss';
@import './header.scss'; 
@import './hamburger.scss';
@import './blocks/about-left.scss';
@import './blocks/about-right.scss';
@import './blocks/triangle.scss';  
@import './blocks/left-side.scss';  
@import './blocks/right-side.scss';  
@import './blocks/header.scss';
@import './blocks/hero.scss'; 
@import './blocks/footer.scss';
@import './blocks/footer-social.scss';






