 .authorise-social
      ul.authorise-social__list
        li.authorise-social__item
          a.authorise-social__link(href='#')
            svg(viewbox='0 0 50 50', width='25', height='25')
              use.authorise-social-icons(xlink:href='./images/icons/sprite.svg#vk')
        li.authorise-social__item
          a.authorise-social__link(href='#')
            svg(viewbox='0 0 50 50', width='25', height='25')
              use.authorise-social-icons(xlink:href='../images/icons/sprite.svg#github')
        li.authorise-social__item
          a.authorise-social__link(href='#')
            svg(viewbox='0 0 50 50', width='25', height='25')
              use.authorise-social-icons(xlink:href='../images/icons/sprite.svg#in')




    