extends ../main.layout.pug

block content
  section.container.welcome-container
  header.header-authorise Авторизоваться
  .authorise
    img.authorise-img(src='../images/content/fashmark-men-trends-nature.png', alt='')
    .authorise-descripton
      ul.authorise-descripton__list
        li.authorise-desciption__name Владимир Астахов
        li.authorise-desciption__site Личный сайт веб разработчика
    .authorise-social.welcome
      ul.authorise-social__list
        li.authorise-social__item
          a.authorise-social__link(href='#')
            svg(viewbox='0 0 50 50', width='25', height='25')
              use.authorise-social-icons(xlink:href='./images/icons/sprite.svg#vk')
        li.authorise-social__item
          a.authorise-social__link(href='#')
            svg(viewbox='0 0 50 50', width='25', height='25')
              use.authorise-social-icons(xlink:href='../images/icons/sprite.svg#github')
        li.authorise-social__item
          a.authorise-social__link(href='#')
            svg(viewbox='0 0 50 50', width='25', height='25')
              use.authorise-social-icons(xlink:href='../images/icons/sprite.svg#in')
    nav.button
      ul.button-list
        li.btn.button-item Мои работы
        li.btn.button-item Обо мне
        li.btn.button-item Блог
  .footer.welcome © Владимир Астахов | создано с любовью в LoftSchool | 2016